/* Fonts for Landing page*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500@Cormorant+Garamond:wght@500&family=Kalam:wght@400&family=Philosopher:ital@1&family=Pixelify+Sans&family=Roboto:ital,wght@0,300;1,300;1,500&family=Secular+One&display=swap');

/* Sets the background color for the entire page*/
body {
    background-color: rgb(47, 63, 61);
    font-family: 'Cormorant Garamond', serif;
}
/* Styling for our header */
h2 {
    color:rgb(255, 255, 255);
    font-size: 6vh;
    font-family: 'Cormorant Garamond', serif;
}
/*Styling for all paragraph elements*/
P {
    color: rgb(255, 255, 255);
    margin: 0;

}
#quote-placement, #quote-author {
    color: beige;
}
/* Styling the Anchor text for logo*/
#logo {
    color: beige;
}
/*Styles the whole hero section*/
.hero-section {
    position: relative;
    width: 100%; /*sets the width to be the full size of the webpage*/
    height: 100vh; /*sets the height of the hero*/
    background: url('../images/library.jpg') center/cover; /*links an image of a library to be the hero background*/
    /*top: 10vh;moves the hero down from the top of the page*/
}
/*overlay for the hero section*/
.hero-overlay {
    position: absolute;
    width: 100%;/*sets width to the full width of the hero-section*/
    height: 100%;/*sets height to the full height of the hero-section*/
    background: rgba(0, 0, 0, 0.4);/*sets the overlay color to black and gives it an opicity of 0.4*/
    z-index: 1; /*ensures that the overlay will be behind the hero content*/
}

/*sets the hero content to be in front of the hero background*/
.hero-content {
    z-index: 2;
}
/*Styles for the quote section*/
.quote-container {
    display: flex;
    flex-direction: column;/*displays the quote and the autor on separate lines*/
    text-align: right;/*moves the quote to the left of page*/
    margin-top: 10vh;/*sets a margin top and bottom to sepatate the quote from the input field and header*/
    margin-bottom: 10vh;
    font-size: 2vh;
}
/*styles the font for the input*/
#book-input-field {
    color:rgb(255, 255, 255);
}
/*styles the placeholder font for the input field*/
#book-input-field::placeholder{
    color:rgb(177, 177, 177);
}
/*Creates a hover effect on each favorite and remove button*/
.library:hover {
    scale: 120%;
}

.switch {
    margin-bottom: 2vh;
}
#oops {
    color: #fff;
}
/* Landing page only font styling*/
#quote-placement, #quote-author {
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

/* animation for the logo text*/
#my-text {
  animation: my-animation 3s ease-in-out;
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  color: beige;
}
/* key frames animation for the logo text*/
@keyframes my-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styling of text in the cards*/
#cardTitle, #authorCard {
    color: beige;
}

button:hover {
 background-color: beige;
}

/* animation for the button*/
button {
    font-size: 30px;
    animation: my-animation 3s ease-out;
}

